*.DS_Store
.idea/
keys.env
migrations/versions/*.py
google_github.txt

.ipynb_checkpoints/
c/*
*.icloud
**/__pycache__/**
test_notebook.ipynb
function_backup/.env
graph_db/.env
**/.deployed/**
**/__deployer__.zip
graph_db/function/.env
