{% extends 'public/public_base.html' %}

{% block login %}active{% endblock %}
{% block content %}
<div class="container">

 <div class="container px-2 py-3">
  <h1 class="fw-bolder text-primary" id="loginContainerLabel">Login</h1>
   <div class="row gx-5 align-items-center justify-content-center">
            <div class="jumbotron vertical-center">
                {% for message in get_flashed_messages(category_filter=["warning"]) %}
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <i class="fa fa-exclamation-triangle"></i> {{ message }}
                    </div>
                {% endfor %}
                {% for message in get_flashed_messages(category_filter=["info"]) %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <i class="fa-regular fa-thumbs-up"></i> {{ message }}
                    </div>
                {% endfor %}
                {% from "_formhelpers.html" import render_field %}
                <div class="row">
                    <form method=post>
                        {{ form.csrf_token }}
                        <div class="col">
                            <div class="form-group">
                                {{ render_field(form.user_name) }}
                                {{ render_field(form.password) }}
                                <div class="form-check form-switch mx-2">
                                    <label class="form-check-label mb-3" for="remember">
                                        <p class="text-muted">Remember Me</p>
                                    </label>
                                    <input class="form-check-input"
                                           type="checkbox" id="remember" name="remember" checked="">
                                </div>
                                <p><input type=submit value=Login style="width:100%" class="btn btn-primary"></p>
                            </div>
                        </div>
                    </form>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-warning px-4" href="/password_reset">Forgot Password</a>
                        <a class="btn btn-outline-dark px-4" href="/register">Register</a>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

{% endblock %}