{% macro render_field(field) %}

{% if field.flags.required %}
  <div class="form-floating required mb-3">
      {% else %}
  <div class="form-floating mb-3">
      {% endif %}
      {% if field.type == 'SwitchField' %}
        <div class="form-check form-switch">
            {%- if field.errors %}
                {{ field(class_="custom-control-input is-invalid%s" % extra_classes)|safe }}
            {%- else -%}
                {{ field(class_="form-check-input%s" % extra_classes)|safe }}
            {%- endif %}
        </div>
        {% else %}
         {{ field(class_="form-control")|safe }}
      {% endif %}
            {% if field.errors %}
      <div class="invalid-feedback d-block mx-2">
          {% for error in field.errors %}
           {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      {{ field.label(class_="form-label") }}
  </div>
{% endmacro %}