<!DOCTYPE html>
<html lang="en">
<head>
        <style>
      img {
        max-width: 70vw;
        height: 60vh;
      }
    </style>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/static/icon.png">
<script src="/static/jquery-3.5.1.js"></script>

    <title>MHP Portal</title>
        <link href="/static/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #FFF">
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
        <a href="/login" style="text-decoration: none"><img src ='/static/pocas_splash.png'></a>
     </div>
  </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
        id="progressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
       </div>

</div>

</body>
<script>
    setTimeout(openUrl, 3000);
    function openUrl(){
        window.open('/login', '_self');
    }
function updateProgress(percentage){
        $('#progressBar').css('width', percentage+'%');
};

var i = 0;

function updateP() {
  setTimeout(function() {
    percentage_value = i * 25;
    updateProgress(percentage_value);
    i++;
    if (i < 5) {
      updateP();
    }
  }, 500)
}


updateP();



</script>
</html>