<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/static/icon.png">

    <title>MHP Portal</title>
    <link href="/static/bootstrap.css" rel="stylesheet">
        <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.2.0/css/all.css"
    />
    <script src="/static/bootstrap.bundle.min.js"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">    <img src ='/static/icon.png' width="40%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fa-solid fa-clipboard-question"></i> Questions
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
                  <li class="nav-item">
          <a class="nav-link" href="/services"><i class="fa-regular fa-building"></i> Services</a>
        </li>
                            <li class="nav-item">
          <a class="nav-link" href="/account"><i class="fa-regular fa-user"></i> Account</a>
        </li>
      </ul>
         <div class="d-flex">

        <button id="myButton" class="btn btn-success my-2 my-sm-0" type="submit" ><i class="fa-solid fa-right-from-bracket"></i></button>

                  <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/logout";
    };
</script>
    </div>
    </div>
  </div>
</nav>
<body>
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="jumbotron vertical-center">
        <div class="row">
            <hr>
            <h1 class="text-primary"><i class="fa-solid fa-clipboard-question"></i> Questions</h1>
            <form method=post>
                {{ form.csrf_token }}
                <div class="form-group">
                    <dl>
                        {{ render_field(form.dob) }}
                        {{ render_field(form.zip_code) }}
                        <hr>
                        <div class="row">
                            <div class="accordion">
                                {% for question in questions %}
                                    {% if question.name != ""%}
                                <div class="col">
                                    <div class="accordion-item border-success bg-light mb-3">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse{{question.safe_html_name}}"
                                                aria-expanded="false" aria-controls="collapse{{question.safe_html_name}}">
                                            <h4 class="text-warning" id="heading{{question.safe_html_name}}">{{question.name}}
                                            {% if question.name == "Children" %}
                                                <i class="fa-solid fa-baby"></i>
                                            {% endif %}
                                                {% if question.name == "Family"%}
                                                <i class="fa-solid fa-people-roof"></i>
                                            {% endif %}
                                                {% if question.name == "Food Insecurity"%}
                                                <i class="fa-solid fa-utensils"></i>
                                            {% endif %}
                                                {% if question.name == "Home"%}
                                                <i class="fa-solid fa-house-chimney"></i>
                                            {% endif %}
                                                {% if question.name == "Income"%}
                                                <i class="fa-solid fa-sack-dollar"></i>
                                            {% endif %}
                                                {% if question.name == "Women Health"%}
                                                <i class="fa-solid fa-venus"></i>
                                            {% endif %}
                                                {% if question.name == "Identity"%}
                                              <i class="fa-solid fa-people-group"></i>
                                            {% endif %}

                                            </h4>
                                        </button>
                                    <div id="collapse{{question.safe_html_name}}" class="accordion-collapse collapse"
                                         aria-labelledby="heading{{question.safe_html_name}}" style="">
                                        <div style="padding: 1%;">
                                            {% for q in question.questions %}
                                            {{ render_field(q) }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        {% for question in questions %}
                            {% if question['name'] == "" %}
                      {% for q in question.questions %}
                        {{ render_field(q) }}
                        {% endfor %}
                            {% endif %}
                        {% endfor %}


                    </dl>
                </div>

                <p><input type=submit value=Submit class="btn  btn-lg btn-primary" style="width:100%">
            </form>

        </div>
    </div>

<footer>
        <hr>
        <p class="text-info"><small> <i class="fa-regular fa-envelope"></i> Contact Us: <a href="mailto:chris@mhpportal.app">chris@mhpportal.app</a></small></p>
        <p class="text-muted"><small>Copyright 2023: MHP Portal, Inc.</small></p>
</footer>
</div>
</body>
</html>