{% extends 'base_mhp.html' %}
{% block account %}active{% endblock %}
{% block content %}
<div class="container px-2 py-3">
  {% for message in get_flashed_messages() %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <i class="fa fa-exclamation-triangle"></i> {{ message }}
    </div>
    {% endfor %}
    {% from "_formhelpers.html" import render_field %}
    <div class="jumbotron vertical-center">
        <div class="row">
            <h1 class="text-primary">
                <i class="fa-solid fa-key"></i> User Account - Change Password</h1>
            <form method=post>
                {{ form.csrf_token }}
                {{ render_field(form.old_password) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                <input id="submit" name="submit" type="submit"  style="width:100%" value="Save Changes" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}