<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="static/icon.png">

    <title>MHP Portal</title>
    <link href="static/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.min.js"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/login">    <img src ='static/icon.png' width="40%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/login">Login

          </a>
        </li>
                  <li class="nav-item">
          <a class="nav-link" href="/register">Register
          <span class="visually-hidden">(current)</span></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<body>
<div class="container">
    {% for message in get_flashed_messages() %}
<div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        {{ message }}
      </div>
    {% endfor %}
  <div class="jumbotron vertical-center">
{% from "_formhelpers.html" import render_field %}
        <div class="row">

<form method=post width="50%">
        {{ form.csrf_token }}

<div class="col">
        <h1 class="text-primary">Register</h1>

        <div class="form-group">

  <dl>
    {{ render_field(form.user_name) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
                {% for error in form.recaptcha.errors %}
                    {{ error }}
                {% endfor %}
                {{ form.recaptcha }}
  </dl>
  <p>
<input id="submit" name="submit" type="submit" value="Register" class="btn btn-primary">
              </div>
</div>
</form>
        </div>
</div>
</div>
</body>
</html>