<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/static/icon.png">

    <title>MHP Portal</title>
    <link href="/static/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.min.js"></script>
<link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.2.0/css/all.css"
    />
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">
        <img src ='/static/icon.png' height="65"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Home

          </a>
        </li>
                  <li class="nav-item">
          <a class="nav-link" href="/register">Register
          <span class="visually-hidden">(current)</span></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<body>
<div class="container">
    {% for message in get_flashed_messages() %}
<div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        {{ message }}
      </div>
    {% endfor %}
  <div class="jumbotron vertical-center">
{% from "_formhelpers.html" import render_field %}
        <div class="row">
    <hr>
<form method=post width="50%">

<div class="col">
        <h1 class="text-primary"><i class="fa-solid fa-key"></i> Reset Password</h1>

        <div class="form-group">

  <dl>
      <fieldset class="col-form-label mt-2">
    <label for="password">Password</label>
    <input class='form-control' type="password" name="password" id="password" required>
      </fieldset>
  </dl>
  <p>
<input id="submit" name="submit" type="submit"  style="width:100%" value="Reset" class="btn btn-primary">
              </div>
</div>
</form>
        </div>
</div>
    <footer class="bg-white py-4 mt-auto">
                    <div class="container px-2">
                <hr>
                        <h6 class="text-info"><small> <i class="fa-regular fa-envelope"></i> Contact Us: <a href="mailto:chris@mhpportal.app">chris@mhpportal.app</a></small></h6>
                        <h4 class="text-primary">
                            <a href="https://twitter.com/MHPPortal"><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/mhpportal"><i class="fa-brands fa-linkedin"></i></a>
                        </h4>
                        <a href="https://www.digitalocean.com/?refcode=70e93ffa8b88&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg" alt="DigitalOcean Referral Badge" /></a>

                <p class="text-muted"><small>Copyright 2023: MHP Portal, Inc.</small></p>
                    </div>
            </footer>
</div>
</body>
</html>