{% extends 'email_template.html' %}
{% block content %}
<tr>
<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 0 2.5em; text-align: center; padding-bottom: 3em;">
            <div class="text">
                Reset Your Password to MHP Portal
            </div>
        </td>
    </tr>

    <tr>
          <td style="text-align: center;">
            <div class="text-author">
                   <a class="btn btn-primary"
                      href="{{ url_for('main.reset_verified', user=user, token=token, _external=True) }}">
                       Click Here
                   </a>
                </p>
                <p class="text-muted">Note link is valid for 10 minutes.</p>
            </div>
          </td>
    </tr>
</table>
</td>
</tr> <!-- end tr -->
{% endblock %}