{% extends 'base_mhp.html' %}
{% block services %}active{% endblock %}
{% block title %}MHP Portal - Services Search{% endblock %}

{% block content %}
<div class="container px-2 py-3">
    {% from "_formhelpers.html" import render_field %}
    <div class="jumbotron vertical-center">
        <div class="row">
            <h1 class="text-primary">
                <i class="fa-solid fa-magnifying-glass-plus"></i> Search Services</h1>
            <form method=post>
                {{ search.csrf_token }}
                <div class="form-group">
                        {{ render_field(search.search_city) }}
                    <div class="form-check form-switch mx-2">
                                    <label class="form-check-label mb-3" for="remember">
                                        <p class="text-muted">Remember City</p>
                                    </label>
                                    <input class="form-check-input"
                                           type="checkbox" id="remember" name="remember" checked="">
                                </div>
                </div>
                <input id="submit" name="submit" type="submit"  style="width:100%" value="Search" class="btn btn-primary">

            </form>
        </div>
    </div>
</div>
{% endblock %}