<head>
   <meta charset="UTF-8">
</head>
<div class="container">
      <div class="row">
          <div class="card bg-light mb-3" style="padding-top: 10;">
              <p class="text-primary">Hello!
                  <br> Your healthcare provider sent you SDOH services sent through MHP Portal from <b>{{ name }}</b>
              </p>
              <p> PDF is attached with services requested by your healthcare provider for your use.</p>
          </div>
      </div>
      <footer>
          <hr>
      <a href="https://twitter.com/MHPPortal">
        Twitter</a>
          <a href="https://mhpportal.app">
        MHP Portal</a>
          <p class="text-muted"><small>Copyright 2023: MHP Portal, Inc.</small></p>
      </footer>
</div>