{% extends 'email_template.html' %}
{% block content %}
<tr>
<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 0 2.5em; text-align: center; padding-bottom: 3em;">
            <div class="text">
                <p>Hello!</p>
                <br> Your healthcare provider sent you SDOH services sent through MHP Portal{% if name %} from <b>{{ name }}</b>{% endif %}!
                <p> PDF is attached with services requested by your healthcare provider for your use.</p>
            </div>
        </td>
    </tr>
    {% for marker in services %}
    <tr>
      <td style="text-align: center;">
        <div class="text-author">
            <div class="card-header text-info">
                <strong>{{ marker['name'] }}</strong></div>
            <div class="card-body py-1" style="overflow-y: scroll;">
                {% if marker['phone'] %}
                <p class="text-success"><small>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:+{{ marker['phone'] }}">{{ marker['phone'] }}</a></small>
                </p>
                {% endif %}
                {% if marker['address'] %}
                    <p class="text-muted"><small>
                        <i class="fa-solid fa-location-dot"></i>
                        {{ marker['address'] }}
                        <br>{{ marker['city'] }}, {{ marker['state'] }} {{ marker['zip_code'] }}</small>
                    </p>
                {% endif %}
                {% if marker['days'] %}
                    <p class="text-info"><small>
                        <i class="fa-solid fa-calendar-days"></i>
                        {{ marker['days'] }}
                        {% if marker['hours'] %}  | <i class="fa-solid fa-clock"></i> {{ marker['hours'] }}
                        {% endif %}
                    </small>
                    </p>
                {% endif %}
                {% if marker['web_site'] %}
                    <p class="text-info"><small>
                        <a href="{{ marker['web_site'] }}" class="card-link" target="_blank">
                            <i class="fa-solid fa-link"></i> {{ marker['web_site'] }}</a>
                    </small>
                    </p>
                {% endif %}
            </div>
        </div>
      </td>
    </tr>
    {% endfor %}
</table>
</td>
</tr><!-- end tr -->
{% endblock %}