{% extends 'base_mhp.html' %}
{% block style_head %}
<style>
#map-container {
    position: relative;
    height: 500px;
    width: 100%;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}

.badge:hover {
    color: #4582ec;
    background-color: transparent;
    cursor:pointer;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  overflow:auto;
  z-index: 98;
}

.pdfobject-container { height: 40rem; border: 1rem solid rgba(0,0,0,.1); }

.loadingMask {
    top: 25%;
    position:fixed;
    height:100%;
    width:100%;
    opacity:0.5;
    z-index:12030
 }

</style>
{% endblock %}
{% block title %}MHP Portal - Services{% endblock %}
{% block extra_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<link rel="stylesheet" href="/static/leaflet.awesome-markers.css">
<script src="/static/leaflet.awesome-markers.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pdfobject@2.2.8/pdfobject.min.js"></script>
<script src="/static/printjs.js"></script>
{% endblock %}

{% block services %}active{% endblock %}
{% block content %}

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel">
                    <i class="fa-solid fa-file-pdf"></i> Exported PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="loadingMask" id="loadingMask" style="visibility: hidden;">
                    <div class="d-flex justify-content-center" style="color:#4582ec; font-size:6rem;">
                          <div class="fa-3x">
                            <i class="fas fa-circle-notch fa-spin"></i>
                          </div>
                    </div>
                </div>
                <div id="pdf-container"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="pdf-download" download>
                    Download <i class="fa-solid fa-file-pdf"></i></a>
                <button type="button" class="btn btn-outline-dark d-none d-sm-block" id="pdf-print">
                    Print <i class="fa-solid fa-file-pdf"></i></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



<div class="container px-2 py-3">
    <button
        type="button"
        class="btn btn-info btn-floating btn-lg shadow-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <i class="fa fa-exclamation-triangle"></i> {{ message }}
      </div>
    {% endfor %}
    {% if not results %}
        <form method="POST" id="filters" action="/filter">
            {{ tags.csrf_token }}
            <div class="form-group">
                <div class="input-group mb-3">
                        <select name="comp_select" class="selectpicker form-control">
                            <option value="nada" disabled selected>Filter by Tags</option>
                            {% for o in vals %}
                                {% if active == o %}
                                    <option value="{{ o }}" selected>{{ o }}</option>
                                {% else %}
                                    <option value="{{ o }}">{{ o }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i></button>
                    <button class="btn btn-warning btn-lg" onclick="resetHide()">Reset</button>

                </div>
            </div>
        </form>
    {% else %}
    <h4 class="text-muted">
        <small>
            <a href="/home" class="link-secondary"><i class="fa-solid fa-angles-left"></i></a>
        </small>
    </h4>

    {% endif %}
    <hr>
    <div class="jumbotron vertical-center" id="map-container">
        <div id="map"></div>
    </div>
    {% if payload.services %}
        <hr>
        <div style="display: flex; justify-content: flex-end">
            <button type="button" class="btn btn-success btn-lg" style="width:100%"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    id="get-pdf" name="get-pdf">
                Download <i class="fa-solid fa-file-pdf"></i></button>
        </div>
    {% endif %}
    <hr>
    <div class="row">
    {% for marker in payload.services %}
        <div class="col-md-4" id="{{ marker.id }}">
            <div class="card border-info mb-3" style="height:325px;">
                <div class="card-header text-info d-flex justify-content-between align-items-center"><strong>{{ marker['name'] }}</strong>
                    <button type="button" class="btn-close" onclick="hideCard('{{ marker.id }}')"></button>
                </div>
                <div class="card-body py-1" style="overflow-y: scroll;">
                        {% if marker['phone'] %}
                            <p class="text-success"><small>
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+{{ marker['phone'] }}">{{ marker['phone'] }}</a>
                            </small>
                            </p>
                        {% endif %}
                        {% if marker['address'] %}
                            <p class="text-muted"><small>
                                <i class="fa-solid fa-location-dot"></i>
                                {{ marker['address'] }}
                                <br>{{ marker['city'] }}, {{ marker['state'] }} {{ marker['zip_code'] }}</small>
                            </p>
                        {% endif %}
                        {% if marker['days'] %}
                            <p class="text-info"><small>
                                <i class="fa-solid fa-calendar-days"></i>
                                {{ marker['days'] }}
                                {% if marker['hours'] %}  | <i class="fa-solid fa-clock"></i> {{ marker['hours'] }}
                                {% endif %}
                            </small>
                            </p>
                        {% endif %}
                        {% if marker['web_site'] %}
                            <p class="text-info"><small>
                                <a href="{{ marker['web_site'] }}" class="card-link" target="_blank">
                                    <i class="fa-solid fa-link"></i> {{ marker['web_site'] }}</a>
                            </small>
                            </p>
                        {% endif %}
                        {% if marker['general_topic'] %}
                            <ul class="list-group bg-secondary">
                                <li class="list-group-item d-flex justify-content-between align-items-center active">{{ marker['general_topic'] }}
                                    <span class="badge bg-secondary rounded-pill"><i class="fa-solid fa-tag"></i></span>
                                </li>
                                {% for tags in marker['tags'] %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">{{ tags }}
                                        <span class="badge bg-secondary rounded-pill"> <i class="fa-solid fa-tag"></i></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div>
                            <a class="btn btn-outline-dark px-2 my-2"
                               href="https://www.doximity.com/conversations/new?
                               message={{ marker['sms_payload'].replace('%0A', '\n') }}&
                               subject=MHP%20Portal%20Recommended%20Service"
                               aria-label="Share via Doximity">
                                <i class="fa-solid fa-rss"></i> Share via Doximity®
                            </a>

                            <a class="btn btn-outline-success px-2 my-2" href="sms:?&body={{ marker['sms_payload'] }}">
                                <i class="fa-solid fa-comment-medical"></i> Share via SMS</a>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/jquery-3.5.1.js"></script>
<script src="/static/scroll_top.js"></script>
<script type="text/javascript">
  var blueMarker = L.AwesomeMarkers.icon({
                        icon: "fa-solid fa-house-medical",
                        prefix: "fa",
                        markerColor: 'darkblue'
                    });

  var featureGroup = L.featureGroup([
      {% for marker in payload.services %}
      {% if marker['lon'] %}
          L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], {icon: blueMarker, customId:"{{ marker.id }}"}).
          bindPopup("<h5 class='text-info'>{{ marker['name'] }}</h5><p class='text-muted'><small><i class='fa-solid fa-location-dot'></i><br>{{ marker['address'] }}<br>{{ marker['city'] }}, {{ marker['state'] }} {{ marker['zip_code'] }}</small></p><p class='text-success'> Topic: {{ marker.general_topic }} </p> <a class='btn btn-outline-primary px-2 my-2' href='#{{ marker.id }}'>Jump to Service</a>"),
         {% endif %}
    {% endfor %}
    ]);

    var tileLayer = new L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.{ext}',
    {
	    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	    subdomains: 'abcd',
        minZoom: 8,
        maxZoom: 14,
        ext: 'png'
    });

    var map = new L.Map('map', {
          'center': [0, 0],
          'zoom': 0,
          'layers': [tileLayer, featureGroup]
        });

    {% if payload.user_loc %}
        var userMarker = L.AwesomeMarkers.icon({
                icon: "fa-house",
                prefix: "fa",
                markerColor: 'red'
            });
        user_marker = new L.marker([{{ payload.user_loc['lat'] }}, {{ payload.user_loc['lon'] }} ],
        { icon: userMarker, customId: "userID" });
        map.addLayer(user_marker);
    {% endif %}

    {% if payload.services %}
        map.fitBounds(featureGroup.getBounds());
        map.setZoom(11);
    {% else %}
          var latLngs = [ user_marker.getLatLng() ];
          var markerBounds = L.latLngBounds(latLngs);
          map.fitBounds(markerBounds);
    {% endif %}
    var services = JSON.parse('{{ payload.services | tojson() }}');
    var staticServices = services;

    function resetHide() {
        services = staticServices;
    }

    function hideCard(divID) {
      var x = document.getElementById(divID);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
            x.style.display = "none";
            for(var i=0; i < services.length; i++) {
                if(services[i].id == divID){
                    services.splice(i,1);
                    }
            };
            featureGroup.getLayers()
                  .filter(function(layer) {
                    return layer instanceof L.Marker;
                  })
                  .forEach(function(layer) {
                    if(layer.options.customId == divID){
                        map.removeLayer(layer);
                     }
                  });
     $.ajax({
        type:'DELETE',
        url:'/results/topn/{{ payload.name }}/' + divID,
        accept: "application/json",
        contenttype: 'application/json',
        })

      }
    };

    $(document).on('click','#get-pdf',function(e)
               {
               var servicePayload = services.map(({ sms_payload, ...item }) => item);
    $.ajax({
        type:'POST',
        url:'/results',
        accept: "application/pdf",
        contenttype: 'application/pdf',
        data: {services:  JSON.stringify(servicePayload)},
        beforeSend: function(){
                    $("#loadingMask").css('visibility', 'visible');
                },
        success: function (data) {
            if(data){
            var file = new Blob([data], { type: 'application/pdf' });
            var fileURL = URL.createObjectURL(file);

            var pdf_link = document.getElementById("pdf-download");
            pdf_link.href= fileURL
            pdf_link.download = "mhpServices.pdf";
            $("#loadingMask").css('visibility', 'hidden');
            var options = {
            fallbackLink: "<p class='text-muted'>Download the file by clicking this <a href='[url]'>Link</a>! <br>On Mobile (iOS) follow these instructions to download: <ul> <li> Press the Share button in the top-right corner.</li><li>Tap on Print after scrolling down.</li><li>In the Print Options menu, select the appropriate settings.</li></p>"
            };
            PDFObject.embed(fileURL, "#pdf-container", options);
            }
        },
        error: function (jqXHR, textStatus, errorThrow) {
            console.log(textStatus);
            console.log(errorThrow);
        }
        })
    });

        $(document).on('click touchstart','#pdf-print',function(e)
               {
               var pdf_link_1 = document.getElementById("pdf-download");
               printJS(pdf_link_1.href);
               });

</script>
{% endblock %}
