{% extends 'base_mhp.html' %}
{% block style_head %}
<style>
#map-container {
    position: relative;
    height: 500px;
    width: 100%;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}

.badge:hover {
    color: #73a839;
    background-color: transparent;
    cursor:pointer;
}
</style>
{% endblock %}
{% block title %}MHP Portal - Services{% endblock %}
{% block extra_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
<link rel="stylesheet" href="/static/leaflet.awesome-markers.css">
<script src="/static/leaflet.awesome-markers.js"></script>
{% endblock %}

{% block services %}active{% endblock %}
{% block content %}
<div class="container px-2 py-3">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <i class="fa fa-exclamation-triangle"></i> {{ message }}
      </div>
    {% endfor %}
    {% if not results %}
        <form method="POST" id="filters" action="/filter">
            {{ tags.csrf_token }}
            <div class="form-group">
                <div class="form-label mt-4 text-muted"><small>{{ tags.tags.label }}</small></div>
                <div class="row">
                    <div class="col">
                        <select name="comp_select" class="selectpicker form-control">
                            {% for o in vals %}
                                {% if active == o %}
                                    <option value="{{ o }}" selected>{{ o }}</option>
                                {% else %}
                                    <option value="{{ o }}">{{ o }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    <hr>
    <div class="jumbotron vertical-center" id="map-container">
        <div id="map"></div>
    </div>
    {% if payload.services %}
        <hr>
        <div style="display: flex; justify-content: flex-end">
            <button type="submit" class="btn btn-success"style="width:100%" id="get-pdf" name="get-pdf">
                Download <i class="fa-regular fa-file-pdf"></i></button>
        </div>
    {% endif %}
    <hr>
    <div class="row">
    {% for marker in payload.services %}
        <div class="col-md-4" id="{{ marker.id }}">
            <div class="card border-info mb-3">
                <div class="card-header text-info d-flex justify-content-between align-items-center"><strong>{{ marker['name'] }}</strong>
                    <button type="button" class="btn-close" onclick="hideCard('{{ marker.id }}')"></button>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% if marker['phone'] %}
                            <p class="text-success">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+{{ marker['phone'] }}">{{ marker['phone'] }}</a>
                            </p>
                        {% endif %}
                        {% if marker['address'] %}
                            <p class="text-muted"><small>
                                <i class="fa-solid fa-location-dot"></i>
                                {{ marker['address'] }}
                                <br>{{ marker['city'] }}, {{ marker['state'] }} {{ marker['zip_code'] }}</small>
                            </p>
                        {% endif %}
                        {% if marker['days'] %}
                            <p class="text-info">
                                <i class="fa-solid fa-calendar-days"></i>
                                {{ marker['days'] }}
                            </p>
                        {% endif %}
                        {% if marker['hours'] %}
                            <p class="text-info">
                                <i class="fa-solid fa-clock"></i> {{ marker['hours'] }}
                            </p>
                        {% endif %}
                        {% if marker['web_site'] %}
                            <p class="text-info">
                                <a href="{{ marker['web_site'] }}" class="card-link" target="_blank">
                                    <i class="fa-solid fa-link"></i> {{ marker['web_site'] }}</a>
                            </p>
                        {% endif %}
                        {% if marker['general_topic'] %}
                            <ul class="list-group bg-secondary">
                                <li class="list-group-item d-flex justify-content-between align-items-center active">{{ marker['general_topic'] }}
                                    <span class="badge bg-secondary rounded-pill"><i class="fa-solid fa-tag"></i></span>
                                </li>
                                {% for tags in marker['tags'] %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">{{ tags }}
                                        <span class="badge bg-secondary rounded-pill"> <i class="fa-solid fa-tag"></i></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/jquery-3.5.1.js"></script>
<script type="text/javascript">
  var blueMarker = L.AwesomeMarkers.icon({
                        icon: "fa-circle-info",
                        prefix: "fa",
                        markerColor: 'blue'
                    });

  var featureGroup = L.featureGroup([
      {% for marker in payload.services %}
      {% if marker['lon'] %}
          L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], {icon: blueMarker, customId:"{{ marker.id }}"}).
          bindPopup("{{ marker['name'] }} <br> <b> Topic: {{ marker.general_topic }} </b><br> <a href='#{{ marker.id }}'>Jump to Service</a>"),
         {% endif %}
    {% endfor %}
    ]);

    var tileLayer = new L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 8,
        maxZoom: 14,
        ext: 'png'
    });

    var map = new L.Map('map', {
          'center': [0, 0],
          'zoom': 0,
          'layers': [tileLayer, featureGroup]
        });

    {% if payload.user_loc %}
        var userMarker = L.AwesomeMarkers.icon({
                icon: "fa-house",
                prefix: "fa",
                markerColor: 'red'
            });
        user_marker = new L.marker([{{ payload.user_loc['lat'] }}, {{ payload.user_loc['lon'] }} ],
        { icon: userMarker, customId: "userID" });
        map.addLayer(user_marker);
    {% endif %}

    {% if payload.services %}
        map.fitBounds(featureGroup.getBounds());
    {% else %}
          var latLngs = [ user_marker.getLatLng() ];
          var markerBounds = L.latLngBounds(latLngs);
          map.fitBounds(markerBounds);
    {% endif %}
    var services = JSON.parse('{{ payload.services | tojson() }}');
    function hideCard(divID) {
      var x = document.getElementById(divID);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
        for(var i=0; i < services.length; i++) {
            if(services[i].id == divID){
                services.splice(i,1);
                }
        };
        featureGroup.getLayers()
              .filter(function(layer) {
                return layer instanceof L.Marker;
              })
              .forEach(function(layer) {
                console.log(layer);
                if(layer.options.customId == divID){
                    map.removeLayer(layer);
                 }
              });
      }
    };

    $(document).on('click','#get-pdf',function(e)
               {
    $.ajax({
        type:'POST',
        url:'/results',
        dataType: 'json',
        accept: "application/json",
        contenttype: 'application/pdf',
        data: {services:  JSON.stringify(services)},
        success: function (data) {
            if(data){
                console.log(data)
            }
        },
        error: function (jqXHR, textStatus, errorThrow) {
            var file = new Blob([jqXHR.responseText], { type: 'application/pdf' });
        var fileURL = URL.createObjectURL(file);
        window.open(fileURL);
        }
        })
    });
</script>
{% endblock %}
