{% extends 'base_mhp.html' %}
{% block title %}MHP Portal - Account{% endblock %}
{% block account %}active{% endblock %}
{% block content %}
<div class="container px-2 py-3">
    {% for message in get_flashed_messages(category_filter=["warning"]) %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <i class="fa fa-exclamation-triangle"></i> {{ message }}
        </div>
    {% endfor %}

    {% for message in get_flashed_messages(category_filter=["info"]) %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <i class="fa-regular fa-thumbs-up"></i> {{ message }}
        </div>
    {% endfor %}
    {% from "_formhelpers.html" import render_field %}
    <div class="jumbotron vertical-center">
        <div class="row">
            <h1 class="text-primary"><i class="fa-solid fa-user-nurse"></i> User Profile</h1>
            <div class="row my-2">
                <div class="col-md-6 my-2">
                    <h4 class="text-secondary">
                        {{ user_data.user_name }}
                    </h4>
                </div>
                <div class="col-md-6">
                    <a href="password_change">
                        <button class="btn btn-lg btn-warning" type="button" style="width:100%">Edit Password</button>
                    </a>

                </div>
            </div>
            <form method=post>
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.city) }}
                {{ render_field(form.affiliation) }}
                <div class="form-floating mb-3">
                    {{ form.search_city(class_="form-control", placeholder="&nbsp;")|safe }}
                    {{ form.search_city.label(class_="form-label") }}
                    <small id="searchHelp" class="form-text text-muted">Add a Region here if you want your search results to be filtered. Blank values will show all regions!</small>
                </div>

            <input id="submit" name="submit" type="submit"  style="width:100%" value="Save Changes" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}