{% extends 'public/public_base.html' %}
{% block register %}active{% endblock %}
{% block content %}
<div class="container my-1">
    <div class="container px-2 py-3">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <i class="fa fa-exclamation-triangle"></i> {{ message }}
        </div>
        {% endfor %}
        <div class="jumbotron vertical-center">
            {% from "_formhelpers.html" import render_field %}
            <div class="row">
                <form method=post>
                    <div class="col">
                        <h1 class="text-primary">
                            <i class="fa-solid fa-key"></i>
                            Reset Password</h1>
                        <div class="form-group">
                            <dl>
                                <fieldset class="col-form-label mt-2">
                                    <label for="email">Email</label>
                                    <input class="form-control" type="email" name="email" id="email" required>
                                </fieldset>
                            </dl>
                            <p>
                                <input id="submit" name="submit" type="submit"  style="width:100%"
                                       value="Submit" class="btn btn-primary">
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}