{% extends 'admin/master.html' %}


{% block body %}
{{ super() }}

<h2>Welcome to POCAS Admin View!</h2>
<h2>This is the Admin Panel for MHP Portal</h2>
<br>
<h3><a href="/admin/servicesview">Services Editor</a></h3>
Allows you the administrator to add services to be used for the app.
<br>
<h3><a href="/admin/ip_hitsview">API Analytics</a></h3>
API Hits on Questionnaire with IP address and date
<br>

<h3><a href="/admin/questionsview">Questions Editor</a></h3>
Edit Questions for Frontend Application
<br>
<hr>
<h3>POCAS API</h3>
Gets you to the API used to get top services and list of services. This is mainly used for the mobile/web app. Ask the admin for an API-KEY to be used.
{% endblock %}