
{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<ul class="nav navbar-nav pull-right">
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
        <i class="fa fa-user" aria-hidden="true"></i>
        {% if current_user.first_name -%}
        {{ current_user.first_name }}
        {% else -%}
        {{current_user.email}}
        {%- endif %}
        </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('security.logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>
</a>
    </div>
</li>
    </ul>
{% endif %}
{% endblock %}